@model AppAgendamentos.ViewModels.SchedulingViewModel

@* @{
ViewData["Title"] = "Create";
} *@
@* <h1>@ViewData["Title"]</h1> *@
<div class="company-information" style="text-align: center;">
    <img src="@Model.CompanyImage" height="200px"></img>

    <h1 style="text-align: center;">@Model.CompanyName</h1>
    <h3 style="text-align: center;">@Model.CompanyDescription</h3>
</div>

<div class="services">
    <div class="row">
***REMOVED***<div class="col-md-5">
***REMOVED***    @Html.Label("Serviço")
***REMOVED***    @Html.DropDownListFor(m => m.ServiceSelected, Model.CompanyServices, htmlAttributes: new {@class =
***REMOVED***    "form-control"})
***REMOVED***</div>
***REMOVED***<div class="col-md-3">
***REMOVED***    @Html.Label("Data do agendamento")
***REMOVED***    <input class="form-control" asp-for="ScheduledDate" asp-format="{0:MM-dd-yyyyTHH:mm}" />
***REMOVED***</div>
    </div>
    <div class="row">
***REMOVED***<div>
***REMOVED***    <input type="submit" value="Agendar" id="submit">
***REMOVED***</div>
    </div>
</div>

<style>
    #submit {
***REMOVED***width: 50%;
***REMOVED***display: block;
***REMOVED***margin: 0 auto;
***REMOVED***margin-top: 10px;
    }
</style>

