@model AppAgendamentos.ViewModels.UserViewModel

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.BirthDate, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
    </div>
</div>
    <div class="row">
    <div class="col-md-4">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-4">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        <div id="divCheckPasswordMatch" style="color: red;"></div>
    </div>
</div>
    <br />
    <div class="row">
    <div class="form-group col-md-12">
        <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Back</a>
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</div>
}
@section Scripts {
    <script type="text/javascript">
        $("#ConfirmPassword").keyup(function () {
            if ($("#Password").val() != $("#ConfirmPassword").val()) {
                $("#divCheckPasswordMatch").html("As senhas não conferem!");
            }
            else {
                $("#divCheckPasswordMatch").hide();
            }
        });
    </script>
}