@{
    ViewData["Title"] = "Home Page";
}
<style>
    .carousel {
width: 60%;
    }

    .carousel img {
width: 60%;
aspect-ratio: 3/2;
@*object-fit:contain;*@
mix-blend-mode: color-burn;
    }

    .container-carousel {
display: flex;
justify-content: center;
    }


    .carousel-caption {
color: #fff;
text-align: center;
background-color: black;
    }

    .carousel-control-prev {
left: 20px;
    }

    .carousel-control-prev-icon {
background-color: darkgray;
    }

    .carousel-control-next-icon {
background-color: darkgray;
    }

    .carousel-control-next {
right: 20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Companies</h1>
</div>
</div>


<div style="display: flex;justify-content: flex-end;padding-right: 10%;">
<button>
<a href='@Url.Action("Create", "Company")' class="button">Criar Empresa</a>
</button>
</div>




<div class="container-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    @for (int i = 0; i <= Model.Companies.Count; i++)
    {
<li data-target="#carouselExampleIndicators" data-slide-to=i.ToString() @i==1 ? class="active" :></li>
    }
</ol>
<div class="carousel-inner">
    @for (int i = 0; i < Model.Companies.Count; i++)
    {
<div class="@(i==1 ? "carousel-item active" : "carousel-item ")">
    <a href='@Url.Action("Create", "Scheduling", new {@companyId = Model.Companies[i].Id})'>
<img class="d-block w-100" src=@(Model.Companies[i].Image) alt=@(Model.Companies[i].Name)>
<div class="carousel-caption d-none d-md-block">
    <h5>@Model.Companies[i].Name</h5>
    <p>@Model.Companies[i].Description</p>
</div>
    </a>
</div>
    }
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
    </div>
</div>
</div>