@model AppAgendamentos.ViewModels.CompanyViewModel
@{
    ViewData["Title"] = "Create Company";
}
<h1>@ViewData["Title"]</h1>
<h4>Company image will be generated automatically by us :)</h4>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(c => c.Name, new { @class = "control-label" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(c => c.Cnpj, new { @class = "control-label" })
            @Html.TextBoxFor(c => c.Cnpj, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(c => c.Description, new { @class = "control-label" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(c => c.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(c => c.Email, new { @class = "control-label" })
            <span class="text-danger">*</span>
            @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(c => c.SelectedCategoryIds, new { @class = "control-label", @title = "Hold Ctrl to select more then one"})
            @Html.ListBoxFor(c => c.SelectedCategoryIds, Model.CategoriesSelectIds, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(c => c.SelectedServicesNames, new { @class = "control-label", @title = "Hold Ctrl to select more then one" })
            @Html.ListBoxFor(c => c.SelectedServicesNames, Model.ServicesOfferedsSelect, new { @class = "form-control" })
        </div>
    </div>
    </div>
    </br>
    <div class="row" style="display: flex;justify-content: flex-end;padding-right: 8%;">
        <a asp-action="Index" asp-controller="Home" class="btn btn-danger"><i class="bi bi-arrow-left"></i>Back</a>
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>
